{% extends 'base.html.twig' %}

{% block body %}
    <h1>API mlp</h1>
    <h2>Requests</h2>
    <p>Make requests on these uri to have french datas for My Little Pony characters</p>
    <table>
        <thead>
            <td>URL</td>
            <td>method</td>
            <td>Effect</td> 
        </thead>
        <tr>
            <td>/</td>
            <td>GET</td>
            <td>Read informations</td>
        </tr>
        <tr>
            <td rowspan="2">/pony</td>
            <td>GET</td>
            <td>Show list of all ponies</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>Add a pony</td>
        </tr>
        <tr>
            <td rowspan="3">/pony/3</td>
            <td>GET</td>
            <td>Show datas of the pony which id = 3</td>
        </tr>
        <tr>
            <td>PUT</td>
            <td>Edit datas of the pony which id = 3</td>
        </tr>
        <tr>
            <td>DELETE</td>
            <td>delete the pony of id = 3</td>
        </tr>
    </table>
    
    <h2>Datas</h2>
    <p>You can obtain these datas (or have to send them if you want to add or edit a pony) :</p>
    <ul>
        <li>id INT (arbitrary, auto-increment)</li>
        <li>name STRING-255</li>
        <li>family INT can be NULL</li>
        <li>type STRING-255 : [terrestre, licorne, alicorne, pégase]</li>
        <li>job STRING-255 can be NULL</li>
        <li>cutiemark STRING-255 can be NULL</li>
        <li>body STRING-255 : description of the body color or specificity</li>
        <li>mane STRING-255 : description of the mane color or specificity</li>
        <li>eyes STRING-255 : description of the mane color or specificity</li>
        <li>antagonist BOOL</li>
        <li>other STRING-3000 can be NULL</li>
        <li>imgpony STRING-255 can be NULL</li>
        <li>imgcutiemark STRING-255 can be NULL</li>
    </ul>
    
    <style>
        body {
            font-family : sans-serif ;
        }
        
        table {
            border : 3px solid black ;
            border-collapse : collapse ;
            min-width : 320px ;
        }
        
        thead {
            font-weight : bold ;
            font-size : 1.2rem ;
            border-bottom : 1px solid grey ;
        }
        
        tr + tr {
            border-top : 1px solid grey ;
        }
        
        td:last-of-type {
            border-left : 1px dotted grey ;
        }
        td:first-of-type {
            border-right : 1px dotted grey ;
        }
        
        td {
            padding : 10px ;
        }
    </style>
{% endblock %}
